@model List<CourtCaseManagementSystem.Core.Entities.Hearing>

<h2>My Hearings</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Case No</th>
        <th>Court</th>
        <th>Lawyer</th>
        <th>Hearing Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var h in Model)
    {
        <tr>
            <td>@h.Case?.CaseNumber</td>
            <td>@h.Case?.Court?.Name</td>
            <td>@h.Case?.Lawyer?.FullName</td>
            <td>@h.HearingDate.ToLocalTime().ToString("dd MMM yyyy")</td>
            <td>@h.Status</td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@h.Id"
                   class="btn btn-sm btn-primary">
                    Update
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>